<p-panel>
    <p-header>
        <div class="tableheader__right left">
            <span class="title">Drivers List</span>
        </div>
        <div class="tableheader__left right">
            <div class="tablesearch">
                <i class="mdi mdi-magnify"></i>
                <input type="text" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
            <button class="tablebtn" type="button" (click)="dt.exportCSV()">
                <i class="mdi mdi-file-excel"></i>
                <span>Export</span>
            </button>
            <a class="tablebtn" routerLink="/admin/adddriver"><i class="mdi mdi-plus"></i>Add drivers </a>
        </div>

    </p-header>

    <p-table #dt [columns]="cols" [value]="datasource" [paginator]="true" [rows]="10" [totalRecords]="totalRecords">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>name</th>
                <th style="width:230px">email</th>
                <th>mobile</th>
                <th style="width:150px">Action</th>
            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
                <td>
                    <div class="icon-stacked">
                        <button type="button" class="btn account">
                        <i class="mdi mdi-bank"></i>
                        </button>
                        <button type="button" class="btn view">
                        <i class="mdi mdi-eye-outline"></i>
                        </button>
                        <a routerLink="/admin/editdriver/{{rowData._id}}" class="btn edit">
                            <i class="mdi  mdi-lead-pencil"></i>
                        </a>
                        <button type="button" class="btn delete">
                        <i class="mdi mdi-delete-variant"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>