<p-panel>
    <p-header>
        <div class="tableheader__right left">
            <span class="title">Fare Rate</span>
        </div>
        <div class="tableheader__left right">
            <div class="tablesearch">
                <i class="mdi mdi-magnify"></i>
                <input type="text" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
            <!-- <button class="tablebtn" type="button" (click)="dt.exportCSV()">
              <i class="mdi mdi-file-excel"></i>
              <span>Export</span>
          </button> -->
            <a (click)="showDialog()" class="tablebtn"><i class="mdi mdi-plus"></i>Add Prices </a>
        </div>

    </p-header>

    <p-table #dt [columns]="cols" [value]="datasource" [paginator]="true" [rows]="10" [totalRecords]="totalRecords">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>Fare classes</th>

                <th>Rate</th>
                <th>Fare Type</th>
                <th>Status</th>
                <th style="width:150px">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td>
                    {{rowData.fareclasses.title}}
                </td>
                <td>
                    {{rowData.rate}} <span *ngIf="rowData.faretype == 'percentcart'">%</span>
                </td>
                <td>
                    {{rowData.faretype}}
                </td>

                <td>
                    <p-inputSwitch [(ngModel)]="rowData.active" #active="ngModel" name="active" id="active" required (onChange)="onstatusChange(rowData._id,$event)"></p-inputSwitch>
                </td>
                <td>
                    <div class="icon-stacked">
                        <button (click)="showDialog(rowData)" type="button" class="btn edit">
                         <i class="mdi  mdi-lead-pencil"></i>
                      </button>
                        <button (click)="deleteData(rowData)" type="button" class="btn delete">
                         <i class="mdi mdi-delete-variant"></i>
                      </button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>
<div *ngIf="displayModal" class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form (ngSubmit)="onSubmitform(subcataForm);" #subcataForm="ngForm">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h6 class="modal-title">Add New Fare Classes</h6>
                    <button type="button" class="close" (click)="displayModal = false">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body brandform">
                    <div class="form-group">
                        <label>Rate</label>
                        <input type="text" [(ngModel)]="fareclasses.rate" #rate="ngModel" class="form-control" name="rate" id="rate" required />
                    </div>

                    <div class="form-group">
                        <label>Rate Type</label>
                        <p-dropdown [options]="fareTypeList" [(ngModel)]="fareclasses.faretype" #faretype="ngModel" name="faretype" id="faretype" required [filter]="true" filterBy="label,value.name"></p-dropdown>
                    </div>
                    <div class="form-group">
                        <label>Fare Classes</label>
                        <p-dropdown [options]="fareclassList" [(ngModel)]="fareclasses.fareclasses" #fareclasses="ngModel" name="fareclasses" id="fareclasses" required [filter]="true" filterBy="label,value.name"></p-dropdown>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-danger" (click)="displayModal = false">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>