<header>
    <div class="admin__menu">
        <div class="menu__left">

            <span class="menuicon">
                <i class="mdi mdi-menu"></i>
           </span>

            <input placeholder="Search" class="searchheader" type="text">
            <!-- <button class="btn btn-round">
               <i class="mdi mdi-file-outline"></i>
               Reports
           </button> -->
        </div>
        <ul class="menu__right">
            <li class="logoutmenu" (click)="logout()">
                <a class="roundico">
                    <i class="mdi mdi-account-outline"></i> </a>
                <span>   Logout</span>
            </li>

            <!-- <li><a href="#"><i class="mdi mdi-alert-outline"></i></a></li>
            <li><a href="#"><i class="mdi mdi-email-outline"></i></a></li> -->
            <!-- <li><a class="roundico" (click)="logout()"><i class="mdi mdi-account-outline"></i></a></li> -->
        </ul>
    </div>
</header>