$theme:#fc8019;
$theme2:#00a699;
$red: rgb(229, 57, 53);
$redgrade: linear-gradient(to right, rgb(229, 57, 53), rgb(227, 93, 91));
// $redgrade: linear-gradient(to right, #fc594a, #f74074);
// $redgrade: linear-gradient(to right, #e21b09, #f74074)