<p-panel>
    <p-header>
        <div class="tableheader__right left">
            <span class="title">Attributes List</span>
        </div>
        <div class="tableheader__left right">
            <div class="tablesearch">
                <i class="mdi mdi-magnify"></i>
                <input type="text" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
            <!-- <button class="tablebtn" type="button" (click)="dt.exportCSV()">
              <i class="mdi mdi-file-excel"></i>
              <span>Export</span>
          </button> -->
            <a routerLink="/admin/addattributes" class="tablebtn"><i class="mdi mdi-plus"></i>Add Attributes </a>
        </div>

    </p-header>

    <p-table #dt [columns]="cols" [value]="datasource" [paginator]="true" [rows]="10" [totalRecords]="totalRecords">
        <ng-template pTemplate="header" let-columns>
            <tr>

                <th>Name</th>
                <th>Attributes</th>
                <th>Action</th>
            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td>{{rowData.label}}</td>
                <td>
                    <p *ngFor="let optionlist of rowData.option">{{optionlist.label}}</p>
                </td>
                <td>
                    <div class="icon-stacked">
                        <a routerLink="/admin/addattributes/{{rowData._id}}" class="btn edit">
                            <i class="mdi  mdi-lead-pencil"></i>
                        </a>
                        <button (click)="deleteData(rowData)" type="button" class="btn delete">
                      <i class="mdi mdi-delete-variant"></i>
                      </button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>