.Multiselects {
 float: left;
 width: 100%;
  li {
    float: left;
    width: calc(100%/3);
    text-align: center;
    border: 1px solid #ccc;
    border-top: none;
    border-left: none;
    padding: 15px 0;
    cursor: pointer;
    &:hover, &.active{
        background: #f7f3f3;
    }

  }
}
.currentlocation{
  cursor: pointer;
  &:hover{
    background: #fefefe;
  }
}

h3.topTitleFixed{
  z-index: 1;
}

.Multiselects li.disabled {
  opacity: .5;
  cursor: not-allowed;
  pointer-events: none;
}